{:tasks
 {quickdoc {:doc "Invoke quickdoc"
            :extra-deps {io.github.borkdude/quickdoc {:git/sha "7e41f33d98e2ef697dd9ecdff8e84b779141c7a6"}}
            :task (exec 'quickdoc.api/quickdoc)
            :exec-args {:git/branch "master"
                        :github/repo "https://github.com/ikappaki/basilisp-kernel"
                        :source-paths ["basilisp_kernel/nrepl_server.lpy"]}}}}
